USE [master]
GO
/****** Object:  Database [linco_core]    Script Date: 24.04.2026 17:51:58 ******/
CREATE DATABASE [linco_core]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'linco_core', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\linco_core.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'linco_core_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\linco_core_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [linco_core].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [linco_core]
GO
/****** Object:  Table [dbo].[AI_Cumle_Asistani]    Script Date: 24.04.2026 17:51:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AI_Cumle_Asistani](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KelimeGirilen] [nvarchar](100) NOT NULL,
	[SecilenSeviye] [nvarchar](2) NOT NULL,
	[KurulanCumle] [nvarchar](max) NOT NULL,
	[CumleTurkce] [nvarchar](max) NOT NULL,
	[OlusturmaTarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genel_Sozluk]    Script Date: 24.04.2026 17:51:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genel_Sozluk](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ingilizce] [nvarchar](100) NOT NULL,
	[Turkce] [nvarchar](100) NOT NULL,
	[Seviye] [nvarchar](2) NOT NULL,
	[Harf] [nchar](1) NOT NULL,
	[OrnekCumle] [nvarchar](max) NULL,
	[Telaffuz_Url] [nvarchar](255) NULL,
	[Okunus] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kullanici_Kelimeleri]    Script Date: 24.04.2026 17:51:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanici_Kelimeleri](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciId] [int] NOT NULL,
	[KelimeId] [int] NOT NULL,
	[Durum] [tinyint] NULL,
	[EklenmeTarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kullanici_Seviye_Ilerleme]    Script Date: 24.04.2026 17:51:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanici_Seviye_Ilerleme](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciId] [int] NOT NULL,
	[Harf] [nchar](1) NOT NULL,
	[Seviye] [nvarchar](2) NOT NULL,
	[SonKelimeId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kullanicilar]    Script Date: 24.04.2026 17:51:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanicilar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciAdi] [nvarchar](50) NOT NULL,
	[Eposta] [nvarchar](100) NOT NULL,
	[Sifre] [nvarchar](255) NOT NULL,
	[MevcutSeviye] [nvarchar](2) NULL,
	[ToplamXP] [int] NULL,
	[KayitTarihi] [datetime] NULL,
	[SonGirisTarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Oyun_Skorlari]    Script Date: 24.04.2026 17:51:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Oyun_Skorlari](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciId] [int] NOT NULL,
	[OyunId] [int] NOT NULL,
	[AlinanSkor] [int] NULL,
	[SureSaniye] [int] NULL,
	[OynamaTarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Oyunlar]    Script Date: 24.04.2026 17:51:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Oyunlar](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OyunAdi] [nvarchar](100) NOT NULL,
	[Aciklama] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sinav_Sonuclari]    Script Date: 24.04.2026 17:51:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sinav_Sonuclari](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciId] [int] NOT NULL,
	[DogruSayisi] [tinyint] NOT NULL,
	[YanlisSayisi] [tinyint] NOT NULL,
	[BosSayisi] [tinyint] NOT NULL,
	[BasariPuani] [tinyint] NOT NULL,
	[SinavKonusu] [nvarchar](100) NULL,
	[TestTarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Yoneticiler]    Script Date: 24.04.2026 17:51:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yoneticiler](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[KullaniciAdi] [nvarchar](50) NOT NULL,
	[Sifre] [nvarchar](255) NOT NULL,
	[YetkiSeviyesi] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Genel_Sozluk] ON 

INSERT [dbo].[Genel_Sozluk] ([Id], [Ingilizce], [Turkce], [Seviye], [Harf], [OrnekCumle], [Telaffuz_Url], [Okunus]) VALUES (1, N'about', N'yaklaşık', N'A1', N'A', NULL, NULL, NULL)
INSERT [dbo].[Genel_Sozluk] ([Id], [Ingilizce], [Turkce], [Seviye], [Harf], [OrnekCumle], [Telaffuz_Url], [Okunus]) VALUES (2, N'above', N'yukarıda', N'A1', N'A', NULL, NULL, NULL)
INSERT [dbo].[Genel_Sozluk] ([Id], [Ingilizce], [Turkce], [Seviye], [Harf], [OrnekCumle], [Telaffuz_Url], [Okunus]) VALUES (3, N'across', N'karşıya', N'A1', N'A', NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[Genel_Sozluk] OFF
GO
SET IDENTITY_INSERT [dbo].[Kullanici_Kelimeleri] ON 

INSERT [dbo].[Kullanici_Kelimeleri] ([Id], [KullaniciId], [KelimeId], [Durum], [EklenmeTarihi]) VALUES (1, 1, 1, 1, CAST(N'2026-04-20T21:22:08.550' AS DateTime))
INSERT [dbo].[Kullanici_Kelimeleri] ([Id], [KullaniciId], [KelimeId], [Durum], [EklenmeTarihi]) VALUES (2, 1, 2, 1, CAST(N'2026-04-20T21:22:37.967' AS DateTime))
INSERT [dbo].[Kullanici_Kelimeleri] ([Id], [KullaniciId], [KelimeId], [Durum], [EklenmeTarihi]) VALUES (3, 1, 3, 1, CAST(N'2026-04-20T21:23:13.777' AS DateTime))
SET IDENTITY_INSERT [dbo].[Kullanici_Kelimeleri] OFF
GO
SET IDENTITY_INSERT [dbo].[Kullanici_Seviye_Ilerleme] ON 

INSERT [dbo].[Kullanici_Seviye_Ilerleme] ([Id], [KullaniciId], [Harf], [Seviye], [SonKelimeId]) VALUES (1, 1, N'A', N'A1', 7)
INSERT [dbo].[Kullanici_Seviye_Ilerleme] ([Id], [KullaniciId], [Harf], [Seviye], [SonKelimeId]) VALUES (2, 1, N'B', N'A1', 50)
INSERT [dbo].[Kullanici_Seviye_Ilerleme] ([Id], [KullaniciId], [Harf], [Seviye], [SonKelimeId]) VALUES (3, 1, N'A', N'A2', 897)
SET IDENTITY_INSERT [dbo].[Kullanici_Seviye_Ilerleme] OFF
GO
SET IDENTITY_INSERT [dbo].[Kullanicilar] ON 

INSERT [dbo].[Kullanicilar] ([Id], [KullaniciAdi], [Eposta], [Sifre], [MevcutSeviye], [ToplamXP], [KayitTarihi], [SonGirisTarihi]) VALUES (1, N'ayse', N'ayy8@gmail.com', N'123', N'A1', 0, CAST(N'2026-04-18T23:43:16.083' AS DateTime), CAST(N'2026-04-23T23:45:44.760' AS DateTime))
SET IDENTITY_INSERT [dbo].[Kullanicilar] OFF
GO
SET IDENTITY_INSERT [dbo].[Sinav_Sonuclari] ON 

INSERT [dbo].[Sinav_Sonuclari] ([Id], [KullaniciId], [DogruSayisi], [YanlisSayisi], [BosSayisi], [BasariPuani], [SinavKonusu], [TestTarihi]) VALUES (1, 1, 12, 8, 0, 60, N'hayvanlar', CAST(N'2026-04-21T00:06:33.097' AS DateTime))
INSERT [dbo].[Sinav_Sonuclari] ([Id], [KullaniciId], [DogruSayisi], [YanlisSayisi], [BosSayisi], [BasariPuani], [SinavKonusu], [TestTarihi]) VALUES (2, 1, 2, 5, 13, 10, N'hayvanlar', CAST(N'2026-04-21T15:21:13.713' AS DateTime))
INSERT [dbo].[Sinav_Sonuclari] ([Id], [KullaniciId], [DogruSayisi], [YanlisSayisi], [BosSayisi], [BasariPuani], [SinavKonusu], [TestTarihi]) VALUES (3, 1, 2, 1, 17, 10, N'hayvanlar', CAST(N'2026-04-21T15:26:30.340' AS DateTime))
SET IDENTITY_INSERT [dbo].[Sinav_Sonuclari] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_AI_Asistan_Kayit]    Script Date: 24.04.2026 17:51:58 ******/
ALTER TABLE [dbo].[AI_Cumle_Asistani] ADD  CONSTRAINT [UQ_AI_Asistan_Kayit] UNIQUE NONCLUSTERED 
(
	[KelimeGirilen] ASC,
	[SecilenSeviye] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Sozluk_Ingilizce]    Script Date: 24.04.2026 17:51:58 ******/
ALTER TABLE [dbo].[Genel_Sozluk] ADD  CONSTRAINT [UQ_Sozluk_Ingilizce] UNIQUE NONCLUSTERED 
(
	[Ingilizce] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Kullanici_Kelime_Eslesme]    Script Date: 24.04.2026 17:51:58 ******/
ALTER TABLE [dbo].[Kullanici_Kelimeleri] ADD  CONSTRAINT [UQ_Kullanici_Kelime_Eslesme] UNIQUE NONCLUSTERED 
(
	[KullaniciId] ASC,
	[KelimeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Kullanici_Ilerleme_Benzersiz]    Script Date: 24.04.2026 17:51:58 ******/
ALTER TABLE [dbo].[Kullanici_Seviye_Ilerleme] ADD  CONSTRAINT [UQ_Kullanici_Ilerleme_Benzersiz] UNIQUE NONCLUSTERED 
(
	[KullaniciId] ASC,
	[Harf] ASC,
	[Seviye] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Kullanici_Eposta]    Script Date: 24.04.2026 17:51:58 ******/
ALTER TABLE [dbo].[Kullanicilar] ADD  CONSTRAINT [UQ_Kullanici_Eposta] UNIQUE NONCLUSTERED 
(
	[Eposta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Kullanici_KullaniciAdi]    Script Date: 24.04.2026 17:51:58 ******/
ALTER TABLE [dbo].[Kullanicilar] ADD  CONSTRAINT [UQ_Kullanici_KullaniciAdi] UNIQUE NONCLUSTERED 
(
	[KullaniciAdi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Oyunlar_OyunAdi]    Script Date: 24.04.2026 17:51:58 ******/
ALTER TABLE [dbo].[Oyunlar] ADD  CONSTRAINT [UQ_Oyunlar_OyunAdi] UNIQUE NONCLUSTERED 
(
	[OyunAdi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Yonetici_KullaniciAdi]    Script Date: 24.04.2026 17:51:58 ******/
ALTER TABLE [dbo].[Yoneticiler] ADD  CONSTRAINT [UQ_Yonetici_KullaniciAdi] UNIQUE NONCLUSTERED 
(
	[KullaniciAdi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AI_Cumle_Asistani] ADD  DEFAULT (getdate()) FOR [OlusturmaTarihi]
GO
ALTER TABLE [dbo].[Kullanici_Kelimeleri] ADD  DEFAULT ((0)) FOR [Durum]
GO
ALTER TABLE [dbo].[Kullanici_Kelimeleri] ADD  DEFAULT (getdate()) FOR [EklenmeTarihi]
GO
ALTER TABLE [dbo].[Kullanicilar] ADD  DEFAULT ('A1') FOR [MevcutSeviye]
GO
ALTER TABLE [dbo].[Kullanicilar] ADD  DEFAULT ((0)) FOR [ToplamXP]
GO
ALTER TABLE [dbo].[Kullanicilar] ADD  DEFAULT (getdate()) FOR [KayitTarihi]
GO
ALTER TABLE [dbo].[Oyun_Skorlari] ADD  DEFAULT ((0)) FOR [AlinanSkor]
GO
ALTER TABLE [dbo].[Oyun_Skorlari] ADD  DEFAULT (getdate()) FOR [OynamaTarihi]
GO
ALTER TABLE [dbo].[Sinav_Sonuclari] ADD  DEFAULT ((0)) FOR [DogruSayisi]
GO
ALTER TABLE [dbo].[Sinav_Sonuclari] ADD  DEFAULT ((0)) FOR [YanlisSayisi]
GO
ALTER TABLE [dbo].[Sinav_Sonuclari] ADD  DEFAULT ((0)) FOR [BosSayisi]
GO
ALTER TABLE [dbo].[Sinav_Sonuclari] ADD  DEFAULT ((0)) FOR [BasariPuani]
GO
ALTER TABLE [dbo].[Sinav_Sonuclari] ADD  DEFAULT (getdate()) FOR [TestTarihi]
GO
ALTER TABLE [dbo].[Yoneticiler] ADD  DEFAULT ((1)) FOR [YetkiSeviyesi]
GO
ALTER TABLE [dbo].[Kullanici_Kelimeleri]  WITH CHECK ADD  CONSTRAINT [FK_KullaniciKelimeleri_Kelime] FOREIGN KEY([KelimeId])
REFERENCES [dbo].[Genel_Sozluk] ([Id])
GO
ALTER TABLE [dbo].[Kullanici_Kelimeleri] CHECK CONSTRAINT [FK_KullaniciKelimeleri_Kelime]
GO
ALTER TABLE [dbo].[Kullanici_Kelimeleri]  WITH CHECK ADD  CONSTRAINT [FK_KullaniciKelimeleri_Kullanici] FOREIGN KEY([KullaniciId])
REFERENCES [dbo].[Kullanicilar] ([Id])
GO
ALTER TABLE [dbo].[Kullanici_Kelimeleri] CHECK CONSTRAINT [FK_KullaniciKelimeleri_Kullanici]
GO
ALTER TABLE [dbo].[Kullanici_Seviye_Ilerleme]  WITH CHECK ADD  CONSTRAINT [FK_Ilerleme_Kelime] FOREIGN KEY([SonKelimeId])
REFERENCES [dbo].[Genel_Sozluk] ([Id])
GO
ALTER TABLE [dbo].[Kullanici_Seviye_Ilerleme] CHECK CONSTRAINT [FK_Ilerleme_Kelime]
GO
ALTER TABLE [dbo].[Kullanici_Seviye_Ilerleme]  WITH CHECK ADD  CONSTRAINT [FK_Ilerleme_Kullanici] FOREIGN KEY([KullaniciId])
REFERENCES [dbo].[Kullanicilar] ([Id])
GO
ALTER TABLE [dbo].[Kullanici_Seviye_Ilerleme] CHECK CONSTRAINT [FK_Ilerleme_Kullanici]
GO
ALTER TABLE [dbo].[Oyun_Skorlari]  WITH CHECK ADD  CONSTRAINT [FK_OyunSkorlari_Kullanici] FOREIGN KEY([KullaniciId])
REFERENCES [dbo].[Kullanicilar] ([Id])
GO
ALTER TABLE [dbo].[Oyun_Skorlari] CHECK CONSTRAINT [FK_OyunSkorlari_Kullanici]
GO
ALTER TABLE [dbo].[Oyun_Skorlari]  WITH CHECK ADD  CONSTRAINT [FK_OyunSkorlari_Oyun] FOREIGN KEY([OyunId])
REFERENCES [dbo].[Oyunlar] ([Id])
GO
ALTER TABLE [dbo].[Oyun_Skorlari] CHECK CONSTRAINT [FK_OyunSkorlari_Oyun]
GO
ALTER TABLE [dbo].[Sinav_Sonuclari]  WITH CHECK ADD  CONSTRAINT [FK_SinavSonuclari_Kullanici] FOREIGN KEY([KullaniciId])
REFERENCES [dbo].[Kullanicilar] ([Id])
GO
ALTER TABLE [dbo].[Sinav_Sonuclari] CHECK CONSTRAINT [FK_SinavSonuclari_Kullanici]
GO
USE [master]
GO
